@font-face {
      font-family: space-gro;
      src: url('../../fonts/Grotesk/SpaceGrotesk-Regular.ttf');
      // font-family: source-sans;
      // src: url('../../fonts/Source\ serif/');
}

$font-body: space-gro;
// $font-extra: source-sans;