@use '../util/' as s;

.sidebar {
      background-color: var(--clr-primary);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      color: var(--clr-white);
      transition: var(--transition);
      transform: translate(-100%);
      z-index: -1;

      .close-btn {
            position: absolute;
            top: 4%;
            right: 10%;
            svg {
                  font-size: s.rem(48);
            }
      }
      
      &--cont {
            display: flex;
            flex-direction: column;
            
            
            
            &--icons {
                  position: relative;
                        text-align: center;
                        top: s.rem(110);
                        right: 0;
                        left: 0;
                        bottom: 0;
                        font-family: auto;
                        
                        h1 {
                              font-size: s.rem(60.8);
                              text-decoration: underline;
                              text-underline-offset: s.rem(20);
                        }
                  }
            }
      }

      .show-sidebar {
            transform: translate(0) !important;
            z-index: 999;
      }
