@use '../util' as t;

.table {
      margin-top: t.rem(80);
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-areas: "figure" "content";
      gap: t.rem(50);
      
      @include t.breakpoint-down(large) {
            justify-items: center;
            align-items: center;
      }
      
      @include t.breakpoint(large) {
            margin-top: t.rem(160);
      }
      
      @include t.breakpoint(large) {
            grid-template-columns: t.rem(400) t.rem(400);
            grid-template-areas: "content figure";
            gap: t.rem(100);
      }
      
      @include t.breakpoint(xlarge) {
            grid-template-areas: "content figure";
            grid-template-columns: t.rem(500) t.rem(500);
      }
      
      &--content {
            animation: upwards 2s ease-in-out;
            grid-area: content;
     
            
            @include t.breakpoint-down(large) {
                  margin-inline: auto;
                  text-align: center;
            }
            
      
            h2 {
                  font-size: t.rem(40);
                  letter-spacing: -0.0083em;
                  line-height: 1.24;
                  margin-bottom: t.rem(16);

                  @include t.breakpoint(large) {
                        font-size: t.rem(56);
                  }
            }
            p {
                  font-size: t.rem(12.8);
                  letter-spacing: -0.033em;
                  line-height: 1.5;
                  // max-width: 400px;
                  padding-inline: t.rem(10);
                  
                  @include t.breakpoint(small) {
                        max-width: t.rem(500);
                  }
                  
                  @include t.breakpoint(large) {
                        font-size: t.rem(20.8);
                  }

            }

            button {
                  @include t.breakpoint-down(large) {
                        margin-inline: auto;
                  }
            }

          .link::after {
            bottom: auto;
            top: 0;
          }
      }
      &--video {
            height: 100%;
            width: 90%;
            background-color: var(--clr-primary);
            animation: scaleX 1s ease-in-out;
            transform-origin: 100% 0;
            grid-area: figure;
            
            @include t.breakpoint(large) {
                  width: 40vw;
            }
            
            @include t.breakpoint(xlarge) {
                  width: 30vw;
            }
            
            
            video {
                  width: 100%;
                  height: 40vh;
                  object-fit: cover;
                  object-position: bottom;
                  animation: scaleX 2s ease-in-out;
                  transform-origin: 100% 0;
                  
                  @include t.breakpoint(large) {
                        width: 40vw;
                        height: 60vh;
                  }

                  @include t.breakpoint(xlarge) {
                        height: 55vh;
                        width: 30vw;
                  }
            }
      
      }

}