:root {
      --clr-primary: #463f3a;
      --clr-secondary: #8a817c;
      --clr-white: #ffffff;
      --clr-black: #000000;
      --clr-red : red;
      --clr-bg: #faf7f2;
      --clr-sidebar: #323e3c;
      --clr-footer: #ddd;
      --clr-line: #dadfde;
      --clr-hover: #ff9770;
      --clr-fav: #c44536;
      --border-radius: 5px;
       
}