:root {
      --clr-primary: #463f3a;
      --clr-secondary: #8a817c;
      --clr-white: #ffffff;
      --clr-black: #000000;
      --clr-red : red;
      --clr-bg: #faf7f2;
      --clr-sidebar: #323e3c;
      --clr-footer: #ddd;
      --clr-line: #dadfde;
      --clr-hover: #ff9770;
      --clr-fav: #c44536;
      --clr-result: rgb(89, 111, 214);
      --clr-btn-spinner: #5469d4;
      --clr-msg: rgb(105, 115, 134);
      --clr-active: blueviolet;
      --clr-stars: #ffb900;
      --clr-price: orangered;
      --border-radius: 5px;
      --transition: all 0.3s ease;
       
}